.main-container {
    margin: 150px 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;

    .main_div {
        width: calc(50% - 25px);
        position: relative;
        cursor: pointer;
        transform: translateY(40px);
        opacity: 0;
        animation: init 1s forwards;
        animation-delay: .3s;

        div {
            width: 100%;
            height: 100%;

            .main_image {
                width: 100%;
                height: 100%;
                border-radius: 15px;
                object-fit: cover;
            }
        }

        video {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
        }

        p {
            display: none;
            font-size: .9em;
            margin-top: 10px;
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(5px);
            border-radius: 15px;
            transition: opacity 0.5s;
            pointer-events: none;
            opacity: 0;
        }

        &:hover::before {
            opacity: 1;
        }

        &:hover p {
            display: block;
            position: absolute;
            top: 20px;
            left: 20px;
            color: #fff;
            font-size: 1.1em;
        }

        .main_arrow {
            position: absolute;
            top: 40px;
            right: 40px;
            background-color: #fff;
            border-radius: 50%;
            padding: 10px;
            width: 32px;
            height: 32px;
            opacity: 0;
            transition: .4s;
        }

        &:hover .main_arrow {
            opacity: 1;
            transform: translate(20px, -20px);
        }
    }
}

@media (max-width: 820px) {
    .main-container {
        .main_div {
            width: calc(100% - 25px);
            margin: 15px 0;

            p {
                display: block;
            }

            &::before {
                display: none;
            }

            &:hover p {
                position: static;
                color: black;
                font-size: .9em;
            }

            .main_arrow {
                display: none;
            }
        }
    }
}