.nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;

    .nav-div_out {
        display: flex;
        background-color: #e8e5e480;
        border-radius: 35px;

        div {
            padding: 12px 25px;
            margin: 5px;
            font-size: .9em;
            border-radius: 35px;
            cursor: pointer;
        }

        div.active {
            background-color: #fff;
        }
    }
}