.soon-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px 0;
    text-align: center;
    background-image: url('/public/black.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2 {
        color: #fff;
        font-size: 4em;
    }

    p {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .5px;
        line-height: 1.8em;
        font-size: 1.2em;
    }

    button {
        text-transform: uppercase;
        font-weight: 900;
        border: none;
        background-color: rgb(53, 65, 231);
        color: #fff;
        padding: 10px 15px;
        letter-spacing: 1px;
        border-radius: 20px;
        cursor: pointer;
        transition: transform .5s;

        &:hover {
            transform: translateY(-2px);
        }
    }
}